h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid var(--app-color-success);
}

.invalid {
    outline: 1px solid var(--app-color-danger);
}

.validation-message {
    color: var(--app-color-danger);
}

.blazor-error-boundary {
    background: var(--app-error-boundary-bg);
    padding: 1rem 1rem 1rem 3.7rem;
    color: var(--app-error-boundary-text);
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: var(--app-color-border-strong);
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}