# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/
/.e2e-data/
/.playwright-browsers/
/.svelte-kit/
/.test-bin/
/build/
/node_modules/
/playwright-report/
/test-results/
